body{
  opacity: 1 !important;
}
.body-default-3{
    .group-star{
        svg{
            height: 13px;
            width: 13px;
            margin-right: -2px;
            path{
                fill: var(--star-color);
            }
            &.svg_none{
                margin-right: 0px;
                path{
                    fill: rgba(241,241,241,1);
                }
            }
        }
    }
    .scm-btn-load-more{
        height: 36px;
        border-radius: 0;
        &.round{
            border-radius: 4px;
        }
    }
    .list{
        .container-avatar {
          margin-right: 15px;
          width: auto;
          display: block;
          line-height: 1.1;
          margin-bottom: 3px;
        }
        .scm-row {
            padding-left: 0px;
        }
        .date {
            display: block;
        }
        .group-star{
            display: block;
            margin-top: 9px;
        }
        .item {
            padding: 0;
            border-radius: 0;
            box-shadow: 0px 0px 3px rgba(0, 0, 0,  0.2);
            margin: 0;
            position: relative;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .scm-row > div{
            margin: 5px 0 15px;
            padding: 0 10px;
        }
        .thumb-img img {
            width: 100%;
            max-width: 148px;
            height: auto;
            margin-right: 7px;
            border-radius: 0;
            cursor: pointer;
            display: inline-block;
            -o-object-fit: cover;
            object-fit: cover;
            margin: 10px 10px 5px 10px;
        }
        .thumb-img .wrap-image{
            position: relative;
            &:first-child{
                display: inline-block;
            }
            display: none;
        }
        .thumb-img {
            padding-right: 0;
            margin-bottom: 0;
        }
        .inner-left{
            margin: 10px;
            width: calc(100% - 15px);
        }
        .has-photo{
            .left-list{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0;
            }
            .right-list{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                text-align: right;
            }

        }
        .left-list {
            max-width: 80%;
            @media (max-width: 450px) {
                max-width: 100%;
            }
        }
        .name{
          margin: 0px 7px 0px 0px;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          max-width: calc(100% - 61px);
          display: inline-block;
          line-height: 1.2;
        }
        @media (max-width: 500px) {
            .thumb-img img{
                width: 110px;
            }
            .has-photo {
                .left-list {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding: 0;
                }
                .right-list {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: left;
                }
            }
        }

			.scm-cf-answers-container {
				padding-top: 8px;
				padding-bottom: 10px;
			}
    }
    .grid{
        .thumb-img img{
            border-radius: 0px 0px 0 0;
        }
        .link-product{
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
            background: rgba(245,245,245,1);
            text-align: center;
            border-radius: 0px 0px 0px 0px;
            padding: 6px;
            margin-top: 15px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                color: #000000;
                text-decoration: none;
                &:hover{
                  font-weight: bold;
                }
                svg{
                    height: 15px;
                    margin-right: 7px;
                    margin-top: -2px;
                }
            }
        }
      .icon-check {
        left: calc(100% - 6px);
      }

			.scm-cf-answers-container {
				padding-top: 10px;
				padding-bottom: 12px;
			}
    }
    .container-avatar{
        position: relative;
        margin-right: 15px;
    }
    .icon-check{
        position: absolute;
        right: 0;
        bottom: 3px;
        display: inline-block;
        width: 15px;
        height: 14px;
        display: inline-block;
        z-index: 1;
        filter: drop-shadow(0px 0px 4px rgba(16, 16, 16, 0.161));
        svg:first-child{
            width: 14px;
            height: 14px;;
            fill: var(--verifyBadgeColor);
            stroke: rgba(255,255,255,1);
            overflow: visible;
        }
        svg:last-child{
            fill: #fff;
            position: absolute;
            top: 50%;
            width: 8px;
            height: 8px;
            left: 50%;
            z-index: 1;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .content {
        text-align: left;
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 11px;
    }

    .grid .group-star {
        position: static;
        padding: 0;
        box-shadow: none;

    }
    .grid{
        .flag-wrapper{
            vertical-align: -2px;
        }
    }
    .grid .group-content>* {
        padding-left: 15px;
        padding-right: 15px;
    }
    .grid,.list{
        .date {
            text-align: left;
            margin-bottom: 10px;
            font-size: 10px;
            margin-top: 0px;
            font-weight: normal;
            display: block;
        }
    }
    .grid .container-stars {
        text-align: left;
        display: grid;
        width: auto;
        .group-star{
            box-shadow: none;
            background: none;
        }
    }
    .grid .group-content{
        box-shadow: 0px 0px 3px rgba(0, 0, 0,  0.2);
        padding: 0;
        border-radius: 0px 0px 0px 0px;
    }
    .name {
        margin-right: 12px;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        display: block;
    }
    .grid .item {
        margin-top: 0;
    }
    @media (max-width: 767px) {
        .list .item{
            height: auto;
        }
    }
    @media (max-width: 450px) {
        .right-header{
            margin-top: 9px;
            text-align: left;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        }
    }
}
.body-default-3 .grid .no-verify .container-avatar {
  margin-right: -5px;
}

.body-default-3 .list .flag-wrapper{
  vertical-align: 2px;
}
.body-default-3 .list .icon-check{
  position: relative;
  margin-right: 8px;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  vertical-align: 2px;
}

@media (max-width: 550px){
  .body-default-3.two-colum-mobile{
    .grid .group-content .top-content{
      display: flex;
    }
    .grid .name {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 85px;
      text-overflow: ellipsis;
    }
    .grid .flag-wrapper {
      margin-top: 13px;
    }
  }
}
html[dir="rtl"]{
  .body-default-3 .list .has-photo .right-list {
    text-align: left;
  }
  .body-default-3 .list .icon-check{
    margin-left: 8px;
    margin-right: 0px;
  }
  .body-default-3 .grid .date, .body-default-3 .list .date{
    text-align: right;
  }
  .body-default-3 .container-avatar{
    margin-right: 0;
    margin-left: 15px;
  }
  .body-default-3 .grid .icon-check {
    left: auto;
    right: calc(100% - 6px);
  }
  .body-default-3 .name {
    margin-right: 0;
    margin-left: 12px;
  }
  .body-default-3 .grid .container-stars{
    text-align: right;
  }
  .body-default-3 .content{
    text-align: right;
  }
  .body-default-3 .grid .link-product a svg {
    margin-right: 0px;
    margin-left: 7px;
  }
  @media (max-width: 500px) {
    .body-default-3 .list .has-photo .right-list {
      text-align: right;
    }
  }
}
